{% extends "base.html" %}
<!-- 網頁標題 -->

{% block title %}{{ ingredient.name }}{% endblock %}

<!-- 主要內容 -->

{% block content %}

<section class="mb-3">
    <h1 class="mb-3">{{ ingredient.name }}</h1>
    <p>It is a key ingredient in many of our dishes.</p>
</section>

<section class="mb-3">
    <h3>Suppliers</h3>
    {% if suppliers %}
    <ul>
        {% for supplier in suppliers %}
        <li><a href="/suppliers/{{ supplier.id }}">{{ supplier.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %} No suppliers provided. {% endif %}
</section>

<section class="mb-3">
    <h3>Dishes Using This Ingredient</h3>
    {% if dishes %}
    <ul>
        {% for dish in dishes %}
        <li><a href="/menu/dishes/{{ dish.id }}">{{ dish.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %} No dishes using this ingredient. {% endif %}
</section>

<a
    class="btn btn-danger {% if not deletable %} disabled{% endif %}"
    href="/ingredients/{{ ingredient.id }}/delete"
    role="button"
    >Delete</a
>

{% endblock %}
