{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Ingredients{% endblock %}

<!-- 主要內容 -->

{% block content %}

<section class="mb-5">
    <form class="d-flex mb-4" method="get" action="/ingredients">
        <input
            class="form-control me-2"
            type="search"
            name="query"
            placeholder="Search Ingredients"
            value="{{ keyword }}"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h1 class="mb-3">Ingredients We Use</h1>

    <div class="d-flex flex-wrap mb-3">
        {% for ingredient in ingredients %}
        <div class="card m-2" id="ingredient-{{ ingredient.id }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/ingredients/{{ ingredient.id }}">{{ ingredient.name.capitalize() }}</a>
                </h5>
                <p class="card-text mb-1">A pretty cool description about {{ ingredient.name }}.</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not ingredients %}
    <p>No ingredients found. ;/</p>
    {% endif %}
</section>
{% endblock %}
