html,
body {
    overscroll-behavior: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #f5d328;
    font-family: "Playpen Sans", cursive;
    font-weight: bold;
    line-height: 1.2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 給 header 加上陰影效果 */
}

.card {
    --margin-size: 1rem;
    width: calc(50% - var(--margin-size));
}

.card img {
    object-fit: cover;
}

.card-title a {
    color: inherit;
}

/* sm */
@media (min-width: 576px) {
    .card {
        width: calc(33% - var(--margin-size));
    }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
    .card {
        width: calc(25% - var(--margin-size));
    }
}

/* xl */
@media (min-width: 1200px) {
    .card {
        width: calc(20% - var(--margin-size));
    }
}

/* xxl */
@media (min-width: 1400px) {
}
