html,
body {
    overscroll-behavior: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #f5d328;
    font-family: "Playpen Sans", cursive;
    font-weight: bold;
    line-height: 1.2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 給 header 加上陰影效果 */
}
