{% extends "base.html" %}
<!-- 網頁標題 -->

{% block title %}{{ supplier.name }}{% endblock %}

<!-- 主要內容 -->

{% block content %}

<div class="row">
    <div class="col col-12 col-lg-6">
        <section class="mb-3">
            <h1 class="mb-3">{{ supplier.name.capitalize() }}</h1>

            <p>{{ supplier.description }}</p>

            <ul class="mb-4">
                <li><strong>Contact Person:</strong> {{ supplier.contact_person }}</li>
                <li><strong>Email:</strong> {{ supplier.email }}</li>
                <li><strong>Phone:</strong> {{ supplier.phone }}</li>
                <li><strong>Address:</strong> {{ supplier.address }}, {{ supplier.city }}, {{ supplier.state }}</li>
            </ul>
        </section>

        <section class="mb-3">
            <h3>Products Supplied</h3>

            {% if supplier.ingredients %}
            <ul>
                {% for ingredient in supplier.ingredients %}
                <li>
                    <a href="/ingredients/{{ ingredient.id }}">{{ ingredient.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %} No products available. {% endif %}
        </section>

        <section class="d-flex gap-2 mb-3">
            <a class="btn btn-primary" href="/suppliers/{{ supplier.id }}/edit" role="button">Edit</a>
            <a class="btn btn-danger" href="/suppliers/{{ supplier.id }}/delete" role="button">Delete</a>
            <button class="btn btn-success" onclick="happy();">:D</button>
        </section>
    </div>

    <div class="col col-12 col-lg-6">
        <img class="w-100 rounded" src="{{ supplier.image_url }}" alt="{{ supplier.name }}" />
    </div>
</div>

{% endblock %}
