{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Suppliers{% endblock %}

<!-- 主要內容 -->

{% block content %}

<section class="mb-5">
    <form class="d-flex mb-4" method="get" action="/suppliers">
        <input
            class="form-control me-2"
            type="search"
            name="query"
            placeholder="Search Suppliers"
            value="{{ keyword }}"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h1 class="mb-3">Our Trusted Suppliers</h1>

    <div class="d-flex flex-wrap mb-3">
        {% for supplier in suppliers %}
        <div class="card m-2">
            <div class="ratio ratio-4x3">
                <img src="{{ supplier.image_url }}" alt="{{ supplier.name }}" />
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/suppliers/{{ supplier.id }}">{{ supplier.name.capitalize() }}</a>
                </h5>
                <p class="card-text mb-1">{{ supplier.description }}</p>
            </div>
            <div class="d-flex justify-content-between gap-2 p-3 border-top">
                <a class="btn btn-primary" href="/suppliers/{{ supplier.id }}/edit" role="button">Edit</a>
                <a class="btn btn-danger" href="/suppliers/{{ supplier.id }}/delete" role="button">Delete</a>
                <a class="btn btn-success" href="javascript:happy()" role="button">:D</a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not suppliers %}
    <div class="alert alert-warning mx-2 mb-3" role="alert">No suppliers found. :/</div>
    {% endif %}

    <div class="mb-3">
        <a class="btn btn-secondary mx-2" role="button" href="/suppliers/add">+</a>
        <span>Add One</span>
    </div>
</section>
{% endblock %}
