{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Delete Something{% endblock %}

<!-- 主要內容 -->

{% block content %}
<h1 class="mb-3">ARE YOU SURE YOU WANT TO DELETE {{ item_name.upper() }}?</h1>
<p>Are you absolutely sure you want to delete {{ item_name }}?</p>
<p>Once deleted, this action <span class="fw-bold">CANNOT</span> be undone.</p>
<p>But hey, it's already gone. It was deleted <span id="time"></span> seconds ago.</p>
<p>So... no turning back now! 😏</p>
{% endblock %} {% block scripts %}
<script>
    // 計算並顯示已經過的秒數
    let secondsPassed = 0;
    const timeElement = document.getElementById("time");
    setInterval(() => {
        secondsPassed++;
        timeElement.textContent = secondsPassed;
        if (secondsPassed === 3) {
            // 3秒後跳轉到指定的URL
            window.location.href = "{{ url }}";
        }
    }, 1000);
</script>
{% endblock %}
