{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Home{% endblock %}

<!-- 主要內容 -->

{% block content %}

<h1 class="text-center">Welcome to Los Pollos Hermanos!</h1>

<p class="lead text-center">Here, we serve our finest dishes with genuine passion and timeless craftsmanship.</p>

<div class="ratio ratio-16x9 mx-auto" style="max-width: 800px">
    <iframe
        class="rounded shadow"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/c1u8jEPG71U?autoplay=1&mute=1&loop=1"
        title="Los Pollos Hermanos Commercial"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>
</div>

{% endblock %}
