{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Saved Successfully{% endblock %}

<!-- 主要內容 -->

{% block content %}
<h1 class="mb-3">SAVED {{ item_name.upper() }} SUCCESSFULLY!</h1>
<p>{{ item_name }} has been saved successfully.</p>
<p>You will be redirected shortly.</p>
{% endblock %} {% block scripts %}
<script>
    // 計算並顯示已經過的秒數
    let secondsPassed = 0;
    const timeElement = document.getElementById("time");
    setInterval(() => {
        secondsPassed++;
        if (secondsPassed >= 3) {
            // 3 秒後跳轉到指定的URL
            window.location.href = "{{ url }}";
        }
    }, 1000);
</script>
{% endblock %}
