{% extends "base.html" %}

<!-- 網頁標題 -->

{% block title %}Stores{% endblock %}

<!-- 主要內容 -->

{% block content %}

<form class="d-flex mb-3" method="get" action="/stores/nearby">
    <input class="form-control me-2" type="search" name="query" placeholder="Search Stores" value="{{ keyword }}" />
    <input
        class="form-control me-2"
        type="number"
        name="latitude"
        step="0.001"
        min="-90"
        max="90"
        placeholder="Latitude"
        value="{{ request.args.get('latitude', '25.15') }}"
        required
    />
    <input
        class="form-control me-2"
        type="number"
        name="longitude"
        step="0.001"
        min="-180"
        max="180"
        placeholder="Longitude"
        value="{{ request.args.get('longitude', '121.781') }}"
        required
    />
    <input
        class="form-control me-2"
        type="number"
        name="radius"
        step="0.1"
        min="0"
        placeholder="Radius (km)"
        value="{{ request.args.get('radius', 100) }}"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<section class="mb-3">
    <h1 class="mb-3">Stores</h1>

    <div class="d-flex flex-wrap mb-3">
        {% for store in stores %}
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/stores/{{ store.id }}">{{ store.name.capitalize() }}</a>
                </h5>
                <p class="card-text mb-1">{{ store.city }}, {{ store.state }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not stores %}
    <div class="alert alert-warning mx-2 mb-3" role="alert">No stores found. :/</div>
    {% endif %}

    <div class="mb-3">
        <a class="btn btn-secondary mx-2" role="button" href="/stores/add">+</a>
        <span>Add One</span>
    </div>
</section>

{% endblock %}
