<div class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Let a Smile Brighten Your Day! :D</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    At Los Pollos Hermanos, we believe every day has the potential to be extraordinary. A simple smile
                    is the secret ingredient to a brighter world. Whether you're facing challenges or savoring success,
                    a smile makes everything better. Let’s share a laugh, spread positivity, and keep things running
                    smoothly.
                    <span class="fst-italic">It’s our way.</span> :D
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
